<ul class="menu-root">
  <% ['api', 'style-guide'].indexOf(type) === -1 && site.pages.find({type: type}).sort('order').each(function (p) { %>
    <% var fileName = p.path.replace(/^.+?\/([\w-]+)\.html/, '$1') %>
    <% if (type === 'guide') { %>
      <% if (fileName === 'installation') { %>
        <li><h3>Grundlagen</h3></li>
      <% } %>
      <% if (fileName === 'components-registration') { %>
        <li><h3>Komponenten im Detail</h3></li>
      <% } %>
      <% if (fileName === 'transitions') { %>
        <li><h3>Übergängee und Animationen</h3></li>
      <% } %>
      <% if (fileName === 'mixins') { %>
        <li><h3>Wiederverwendbarkeit und Komposition</h3></li>
      <% } %>
      <% if (fileName === 'deployment') { %>
        <li><h3>Werkzeug</h3></li>
      <% } %>
      <% if (fileName === 'routing') { %>
        <li><h3>Skalierbarkeit</h3></li>
      <% } %>
      <% if (fileName === 'reactivity') { %>
        <li><h3>Interna</h3></li>
      <% } %>
      <% if (fileName === 'migration') { %>
        <li><h3>Migration</h3></li>
      <% } %>
      <% if (fileName === 'comparison') { %>
        <li><h3>Meta</h3></li>
      <% } %>
    <% } %>
    <li>
      <a href="<%- url_for(p.path) %>" class="sidebar-link<%- page.title === p.title ? ' current' : '' %><%- p.is_new ? ' new' : '' %>"><%- p.title %></a>
    </li>
  <% }) %>
</ul>
